{% extends "base_template.html" %}

{% block title %}Create notepad{% endblock %}

{% block content %}

<form method="POST" action="{{ url_for('notepad.create_notepad') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}
    </div>
    <div>
        {{ form.body.label }}<br>
        {{ form.body(rows=5) }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
<h4>Commit 1</h4>
<h4>Commit 2</h4>
<h4>Commit 3</h4>
<h4>Commit 4</h4>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('notepad.scripts') }}"></script>
{% endblock %}
