{% extends "base_template.html" %}

{% block title %}View my notepads{% endblock %}

{% block content %}
<div>
    <form > 
        <input type="text" name="search" id="search_field" value="{{ search_query }}" placeholder="Search notepads..." required>
        <button type="submit">Search</button>
        
    </form>
    {% if search_query != "" %}
            <a href="{{ url_for('notepad.index') }}">Clear Search</a> 
    {% endif %}
</div>
{% if notepads %}
    <ul>
    {% for notepad in notepads %}
        <li>
            <strong><a href="{{ url_for('notepad.edit_notepad', notepad_id=notepad.id) }}">{{ notepad.title }}</a></strong> - {{ notepad.body }}
            <a href="{{ url_for('notepad.edit_notepad', notepad_id=notepad.id) }}">Edit</a>
            <form method="POST" action="{{ url_for('notepad.delete_notepad', notepad_id=notepad.id) }}">
                {{ form.hidden_tag() }}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You have no notepads.</p>
{% endif %}

{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('search_field').addEventListener('input', function() {
            if (this.value === "") {
                window.location.href = "{{ url_for('notepad.index') }}";  // Recarga la página sin filtro
            }
        });
    </script>
    <script src="{{ url_for('notepad.scripts') }}"></script>
{% endblock %}
